  body {
    background-image: url("images/background.jpg");
    background-color: rgb(172, 166, 185);
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover;
  }

  .topnav {
    background-color: rgb(25, 15, 56);
    background-image: url("images/glitter.gif");
    background-size:auto;
    background-position: right;
    overflow: hidden;
  }
  
  .topnav a {
    font-family: 'Cinzel', serif;
    float: left;
    display: block;
    color: #200633;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav a:hover {
    background-color: rgb(244, 223, 255);
    color: rgb(36, 75, 44);
  }
  
  .topnav a.active {
    background-color: #000000;
    color: rgb(227, 227, 227);
  }

  .topnav .icon {
    display: none;
  }

  .header {
    padding: 60px;
    text-align: left;
    color: white;
    background-color: #594158;
    background-image: url("images/header-kitty.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

  h1 {
    color: rgb(189, 146, 201);
    font-display:inherit;
    font-size: 90px;
    font-family: 'Rubik Puddles', cursive;
  }

  p1 {
    color: rgb(212, 206, 213);
    font-display:inherit;
    font-size: 22px;
    font-family: 'Cinzel', serif;
  }

  .container {
    background-color: rgb(43, 38, 60);
    color: rgb(237, 237, 249);
    justify-content: center
    display flex;
  }

  h2 {
    text-align: center;
    color: rgb(165, 105, 181);
    font-display:inherit;
    font-size: 60px;
    font-family: 'Cinzel', serif;
  }

  footer {
    font-family: 'Cinzel', serif;
    font-size: 19px;
    color:rgb(0, 0, 0)
  }

  .accordion {
    background-color: rgb(159, 153, 153);
    color: #413d3d;
  }

  img.rounded-corners {
    border-radius: 0 50% 50% 50%;
    max-width: 55%;  
    height: auto;  
    align-self: center;
  }
  
  .back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }

  .top {
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
  }